.auth-table-body tr:hover{
  background-color: @table-hover-background-color;
  color: @table-hover-font-color;
  cursor: pointer;
}

.role-manager{
  color: white;
}

.auth-nav-container{

}

.page-create-button{
  margin-bottom: 20px;
}
