.basic-template-edit .url-widget{
  margin: 0 auto;
  text-align: center;
}

.basic-template-edit .Content-item{
  width: 47%;
}

.basic-template-edit .url-widget input{
  text-align: center;
}

.basic-template-edit .Content-item-container{
  text-align: center;
}
