.basic-template-edit .url-widget{
  margin: 0 auto;
  text-align: center;
}

.basic-template-edit .Content-item{
  width: 47%;
}

.basic-template-edit .url-widget input{
  text-align: center;
}

.basic-template-edit .content-container{
  text-align: center;
}

.basic-template-read-only .Content-item-container{
  width: 59%;
  margin: 0px auto;
  text-align: left;
}

.basic-template-read-only .Content-extra-large-image-percentage{
  width: 100%;
}
