

.carousel-control.left{
  left: -193px;
}

.carousel-control.right{
  right: -193px;
}

.carousel-inner img {
  max-height: 550px;
  text-align: center;
}

.carousel-inner .item-container{
  text-align: center;
}
