

.carousel-control.left{
  left: 100px;
}

.carousel-control.right{
  right: 100px;
}

.carousel-inner img {
  height: 550px;
  text-align: center;
}

.carousel-inner .item-container{
  text-align: center;
}
