
.Content-large-image{
  width: 300px;
  margin-right: 30px;
  margin-top: @content-margin-top;
}

.Content-large-image-percentage{
  width: 58%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: @content-margin-top;
}

.Content-extra-large-image-percentage{
  width: 68%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: @content-margin-top;
}

.Content-image-container{
    text-align: center;
}


.Content-medium-image{
  width: 200px;
  margin-right: 30px;
  margin-top: @content-margin-top;
}

.Content-small-image{
  width: 130px;
  height: 137px;
  margin-right: 30px;
  margin-top: @content-margin-top;
}
