.List-Grid-Group-Column{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  // text-align: center;
}

.List-Grid-Group-Column-Small{
  width:33%;
  display: inline-block;
  vertical-align: top;
}

.List-Grid-Template .Parent-list-item-readonly .Content-long-description{
  font-size: 45px;
}

.List-Grid-Row-Edit{
  padding-left: 12%;
}

.List-Grid-Group-Column-Small-Edit {
    width: 37%;
    display: inline-block;
    vertical-align: top;
}

.Sub-List-Items{
  padding-left: 10%;
}

.List-Grid-Group-Column .Content-title{
     font-size: 27px;
}

.List-Grid-Template .Parent-list-item-readonly .Content-long-description{
    font-size: 36px;
}

.List-Grid-Template .Content-item-container{
  margin-top: 1px;
}

.List-Grid-Row{
  margin-bottom: 35px;
}


.List-Grid-Template .List-Grid-Group-Column-Content-Item{
  text-align: left;
}

.List-Grid-Template .row .Read-Only{
  text-align: center;
}

.List-Grid-Template .List-Page-Read-Only{
  margin: 0 auto;
  width: 60%;
}
