.List-Grid-Group-Column{
  width: 65%;
}

.List-Grid-Group-Column,
.List-Grid-Group-Column-Edit,
.List-Grid-Group-Column-Small,
.List-Grid-Group-Column-Small-Edit{
  display: inline-block;
  vertical-align: top;
}
.List-Grid-Group-Column-Small{
  width:33%;
}

.List-Grid-Template input,
.List-Grid-Template textarea{
  text-align: left;
}

.Sub-list-item-group-border{
  margin-bottom: 40px;
}
.List-Grid-Group-Column-Small-Edit {
  width: 37%;
}

.List-Grid-Row-Edit{
  padding-left: 12%;
}


.Sub-List-Items{
  padding-left: 10%;
}

.List-Grid-Group-Column .Content-title{
     font-size: 27px;
}

.List-Grid-Template .Parent-list-item-readonly .Content-long-description{
    font-size: 36px;
}

.List-Grid-Template .Content-item-container{
  margin-top: 1px;
  text-align: left;
}

.List-Grid-Row{
  margin-bottom: 35px;
}


.List-Grid-Template .List-Grid-Group-Column-Content-Item{
  text-align: left;
}

.List-Grid-Template .row .Read-Only{
  text-align: center;
}

.List-Grid-Template .List-Page-Read-Only{
  margin: 0 auto;
  width: 60%;
}

.Add-row-button{
  display: inline-block;
}

.List-Grid-Template .Content-extra-large-image-percentage{
  margin-left: 0px;
}

.List-Grid-Template .Content-image-container{
  text-align: left;
  margin: 0px;
}

.List-Grid-Template .Content-short-description{
  text-align: left;
  width: 90%;
}
