
.List-items{
   text-align: center;
   // color: @content-text-color;
   font-size: 28px;
   line-height: 1.6em;
   margin-top: @content-margin-top;
}

.List-template .Content-image-container,
.List-template .Content-title{
  text-align: left;
}

.List-template .Content-extra-large-image-percentage{
  margin-left: 0px;
}

.Sub-list-item-widget-select-area{
  float:right;
}
