.Content-long-description-container{
  display: inline-block;
  color: @content-text-color;
  font-size: @content-description-font-size;
  font-family: @content-text-font-family;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.Content-long-description{
  width: 93%;
}
