@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/bootstrap/less/glyphicons';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Regular.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face{
  font-family: 'Calligraffiti';
  src: url('Calligraffiti.ttf');
  font-weight: normal;
  font-style: normal;
}

@content-margin-top: 10px;
@content-text-color: white;
@content-text-font-family: 'Source Sans Pro';
@content-description-font-size: 18px;
@navigation-font-family: 'Calligraffiti';
@anchor-font-color: white;
@header-text-color: rgb(126, 61, 16);


/* Header */

a {
    color: @anchor-font-color;
    text-decoration: none;
}

a:hover {
    color: @anchor-font-color;
    text-decoration: underline;
}

.Header {
  background: white;
  color: @header-text-color;
  display:inline;
}

.Header-container {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.Heading{
  margin-left: 3%;
}

.Header-brand {
  color: @header-text-color;
  text-decoration: none;
  font-size: 5.5em; /* ~28px */
}

.Header-graphic-separator{
  background:
    transparent
    url(http://files.nearlyweds.com.s3.amazonaws.com/template_images/5016_2c700e2612fcbcf4a6bcf830e091e33d9f12869e.png)
    center center no-repeat;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Header-brandTxt {
  margin-left: 10px;
  font-family: brandon-grotesque;
  letter-spacing: 6px;
  font-size: 0.7em;

}

.Header-nav {
  margin-top: 6px;
}

.Header-banner {
  text-align: center;
}

.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.Header-bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}


/* End Header */



/* App */

.Content-item-container{
    margin-top: 30px;
}

.App-container{
  width: 960px;
  margin: 0 auto;
  position: relative;
}


.Empty-Page-Content{
  text-align: center;
}

.Edit-Content-Button{
  text-align: right;
  margin-right: 4%;
}

// .fixed-container{
//    background:
//      white
//      url(http://files.nearlyweds.com.s3.amazonaws.com/template_images/4731_46a9925d308d8f286b5de482380cd731d155c224.jpg)
//      no-repeat
//      scroll
//      top left;
//  }

 // .fixed-container{
 //  //  background:
 //  //   white
 //  //   url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-xal1/t31.0-8/289173_10100607691118929_2130839311_o.jpg)
 //  //   no-repeat;
 //
 //    background: url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/10290701_820086228932_3450344794020087774_n.jpg?oh=9db07409248d726300e132aa8290f26d&oe=56D9F7CE)
 //     no-repeat center center fixed;
 //      -webkit-background-size: cover;
 //      -moz-background-size: cover;
 //      -o-background-size: cover;
 //      background-size: cover;
 // }

 .fixed-container{
    opacity: 1;
    background-image: url("https://d25uo7j7o9w973.cloudfront.net/uploads/background/555d389c346439003d580000/52/390bb00ec311e59816270388c96c32/Stephanie_Rob_Engagement-18.jpg");
    background-position: 0% 50%;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
 }

 .Backdrop{
    z-index: -99999;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    background: #eaecf0;
 }

.Content-panel{
  background: rgba(0,0,0,0.3);
  opacity: 1;
  display: block;
  color: #FFFFFF;
  padding: 20px;
  vertical-align: baseline;
}

.Content-container{

}

.glyphicon-remove{
  color: #a94442;
  cursor: pointer;
}
 /* End App */



/* Templates */

.Content-centered-container .Content-long-description-container,
.Content-centered-container .Content-short-description-container{
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

/* End Templates */




/* Home */

.Home-content{
  text-align: center;
  color: @header-text-color;
}

/* End Home */



/* Image */

.Content-large-image{
  width: 300px;
  margin-right: 30px;
  margin-top: @content-margin-top;
}

.Content-large-image-percentage{
  width: 58%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: @content-margin-top;
}

.Content-extra-large-image-percentage{
  width: 68%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: @content-margin-top;
}

.Content-image-container{
    text-align: center;
}


.Content-medium-image{
  width: 200px;
  margin-right: 30px;
  margin-top: @content-margin-top;
}

.Content-small-image{
  width: 130px;
  height: 137px;
  margin-right: 30px;
  margin-top: @content-margin-top;
}

/* End Image */





/* Title */

.Content-title{
   text-align: center;
   font-family: @content-text-font-family;
   font-size: 38px;
   line-height: 1.6em;
}

/* End Title */





/* Photo Album */

.Photo-album-container{
  margin-left:13%;
  width: 80%;
}

.Photo{
  display:inline-block;
}

.Photo-album-content{
  margin-top: 40px;
  margin-bottom: 40px;
}
//
// .Small-carousel{
//   overflow-x: auto;
//   white-space: nowrap;
// }
//
// .Small-carousel-container{
//   margin-left:15%;
//   max-width: 70%;
// }

/* End Photo Album */





/* Venue */

.Venue-image-container{
  margin-left: 27%;
}


/* End Venue */




/* The Proposal */


/* End The Proposal */




/* List Collection */

.List-items{
 text-align: center;
 // color: @content-text-color;
 font-size: 28px;
 line-height: 1.6em;
 margin-top: @content-margin-top;
}

/* End List Collection */





/* Short Description */

.Content-short-description{
  color: @content-text-color;
  font-size: @content-description-font-size;
  font-family: @content-text-font-family;
}

// .Content-short-description-container{
//   width: 67%;
//   margin-left: 16%;
//   font-family: @content-text-font-family;
//   margin-top: @content-margin-top;
// }


/* End Short Description */





/* Long Description */

.Content-long-description{
  color: @content-text-color;
  font-size: @content-description-font-size;
}

.Content-long-description-container{
  font-family: @content-text-font-family;
  margin-top: @content-margin-top;
  // width: 67%;
  // margin-left: 16%;
}


/* End Long Description */




/* Navigation */


.Navigation-link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.Navigation-link,
.Navigation-link:active,
.Navigation-link:visited {
  color: white;
  margin-right: 16px;
  font-family: @navigation-font-family;
  font-size: 22px;
}

.Navigation-link:visited {
  font-weight: bold;
}

.Navigation-link:hover {
  font-weight: bold;
}

.Navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  color: white;
  font-weight: bold;
}

.Navigation-link--highlight:hover {
  background: rgba(0, 0, 0, .3);
  font-weight: bold;
}


/* End Navigation */






/* List */



.List-page{
  font-family: @content-text-font-family;
  font-size: @content-description-font-size;
  padding: 20px;
}

.List-container{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.Sub-list-item{
  margin-left: 60px;
  margin-bottom: 5px;
}

.Parent-list-item{
  margin-top: 20px;
}

.Add-sub-list-item{
  text-align: right;
}

.List-item-group{
  margin-top: 10px;
  line-height: 33px;
}

.Link-list-item{
  margin-bottom: 25px;
}

.Thing-to-do-title{
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 28px;
}

.Row-separator{
    border-top: 1px solid lightgray;
    margin-top: 25px;
    padding-top: 25px;
}


/* End List */




/* Modal */

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}

/* End Modal */
