
.Photo-album-container{
  margin-left:13%;
  width: 80%;
}

.Photo{
  display:inline-block;
}

.Photo-album-content{
  margin-top: 40px;
  margin-bottom: 40px;
}
//
// .Small-carousel{
//   overflow-x: auto;
//   white-space: nowrap;
// }
//
// .Small-carousel-container{
//   margin-left:15%;
//   max-width: 70%;
// }
