
.Photo-album-container{
  margin-left:13%;
  width: 80%;
}

.Photo-album-container-edit{
  width: 93%;
  margin-left: 8%;
}

.Photo-album-container-read-only{
  width: 80%;
  margin-left: 13%;
}

.Photo{
  display:inline-block;
  margin-right: 33px;
}

.Photo-album-content{
  margin-top: 40px;
  margin-bottom: 40px;
}

.Photo-album-template .Content-image-container{
  width: 100%;
}

.Photo-album-template .Content-image-input-container{
  width: 71%;
}
.Photo-album-template .Content-image-input-container > input{
  width: 100%;
}

.Photo-album-container-edit .Photo {
      margin-right: 19px;
}

.Photo-album-template{
  .image-upload-container{
    width: 100%;
  }
}
