@import './variables';

.Content-short-description-container{
  display: inline-block;
  width: 100%;
  text-align: center;
  color: @content-text-color;
  font-size: @content-description-font-size;
  font-family: @content-text-font-family;
  margin: 0 auto;
  text-align: center;
}

.Content-short-description{
  // width: 93%;
}
