
.Content-title,
.Content-title > input{
   text-align: center;
   font-family: @content-text-font-family;
   font-size: 38px;
   line-height: 1.6em;
}

.Content-title > input{
  height: 62px;
}
